.heading 
{
    font-size:25px;
    font-family: cursive;
    width: 100%;
    margin:0;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(151, 162, 151);
}

.note 
{
    font-size:16px;
    color:black;
}

.copy_right_footer {
position: fixed;
color:white;
bottom: 0;
width:100%;
background-color:rgba(231, 170, 135, 0.781);
line-height: 3;
text-align: center;
height: 50px;
}

canvas
{
border:5px solid white;
border-radius:20px;
box-shadow:5px 5px 5px grey;
}

